.container{
    background-color: #FFFFFF;
    min-height: 600px;
    padding-left: 0px;
    padding-right: 0px;
}
body{
    width: 770px;
    height: 600px;
    background-color: #602ffa;
    padding-left: 35px;
    padding-right: 35px;
}

#mainContainer{
    margin-left: 0;
    margin-right: 0;
}
#dropdownMenuButton{
    margin-top: 20px;
}
.btn.btn-secondary{
    width: 300px;
    height: 33.33px;
    background-color: #FFFFFF;
    margin-top: 0px !important;
    margin-left: 10px !important;
}
.dropdown-menu {
    width: 300px;
    height: 400px;
}
.dropdown{
    margin-top: 20px;
}
#builderPane{
    margin-top: 20px;
    margin-left: 20px;
}